

{{!-- Create a comment --}}
    <form id="new-comment-form" class="text-center">
      <div class="form-group">
        <label for="new-comment"></label>
        <textarea id="new-comment-text" placeholder="Add a helpful comment" class="form-control text-center" rows="5" name="userComment"></textarea>
        <button type="submit" id="new-comment-btn" class="btn btn-dark mt-3">Comment</button>
      </div>
      </form>
  </div>

  <script src="/js/comments.js"></script>