

{{!-- Create a comment --}}

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
        <form id="new-comment-form" class="text-center">
      <div class="form-group">
        <label for="new-comment"></label>
        <textarea id="new-comment-text" placeholder="Add a helpful comment" class="form-control text-center" rows="5" name="userComment"></textarea>
        <button type="submit" id="submit-comment-btn" class="btn btn-dark mt-3">Submit Comment</button>
      </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

    
  </div>

  <script src="/js/comments.js"></script>