<p>hello</p>





{{!-- <div class="container-fluid mt-2 mb-2">
    <div class="row">
        <div class="col-12">
            <div class="card-header text-center bg-dark text-light">
                <h6 class="card-text bg-dark">Posted on {{format_date createdAt}} at {{format_time createdAt}}</h6>
                <div class="card-body bg-dark text-light">
                    <p class="card-text">{{content}}</p>
                </div>
            </div>
        </div>
    </div>
</div> --}}