<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 d-flex flex-column">
      <img
        alt="Bootstrap Image Preview"
        src="https://www.kindpng.com/picc/m/285-2855863_a-festival-celebrating-tractors-round-profile-picture-placeholder.png"
        class="rounded-circle align-self-center mt-5 w-50 h-50"
      />
      <h3 class="align-self-center m-2">
        {{username}}

      </h3>
      <textarea class="text-center align-self-center m-2" cols="75">
        {{user_bio}}
      </textarea>
      <button
        type="button"
        class="btn btn-sm align-self-center btn-secondary m-2"
      >
        Save Profile
      </button>
    </div>
    <div class="col-md-7">
      <h2 class="mt-5">My Posts ...</h2>
      {{#each posts as |post|}}
        <p class="rounded border border-secondary p-2">
          {{post_content}}
        </p>
      {{/each}}
    </div>
  </div>
</div>