<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <form class="mt-5" role="form" id="signup-form">
        <div class="form-group">
          <label for="fName" class="text-light"> Create an Account </label>
          <input
            style="width: 300px"
            type="text"
            placeholder="First Name"
            class="form-control signup"
            id="fName"
          />
        </div>
        <div class="form-group">
          <input
            style="width: 300px"
            type="text"
            placeholder="Last Name"
            class="form-control signup"
            id="lName"
          />
        </div>
        <div class="form-group">
          <input
            style="width: 300px"
            type="email"
            placeholder="Email"
            class="form-control signup"
            id="userEmail"
          />
        </div>
        <div class="form-group">
          <input
            style="width: 300px"
            type="text"
            placeholder="Username"
            class="form-control signup"
            id="username"
          />
        </div>
        <div class="form-group">
          <input
            style="width: 300px"
            type="password"
            placeholder="Password: Atleast 6 characters"
            class="form-control signup"
            id="userPassword"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-dark m-1">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>


